# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
*.md

# CI/CD
.github

# Frontend
frontend/node_modules
frontend/.vite
frontend/dist

# Backend
backend/main
*.exe
*.test
*.out

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

