version: "3.8"

services:
  floppa-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./backend/config.json:/app/config.json:ro
    restart: unless-stopped
    environment:
      - GIN_MODE=release
